/*====================== GOOGLE FONTS ======================*/
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); */

/*==================== GLOBAL VARIABLES ====================*/
:root {
  --header-height: 3.5rem;
  /* --nav-width: 219px; */
  --nav-width: 20em;

  /*========== Colors ==========*/
  --color-white: #ffffff;
  --first-color: #6923d0;
  --first-color-light: #f4f0fa;
  --title-color: #19181b;
  --title-color-dark-mode: #ffffffd4;
  --text-color: #58555e;
  --text-color: #58555e;
  --text-color-light: #a5a1aa;
  --body-color: #f9f6fd;
  --container-color: #ffffff;
  --container-color-dark-mode: #000000;
  --bgs-color-bg: #12a03d;
  --bgs-color-text1: #001959;
  --bgs-color-text2-bright: #28E460;
  --bgs-color-text2: #1fba4e;

  /*========== Font and Typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --largest-font-size: 1.3rem;
  --large-font-size: 1.1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.75rem;
  --smaller-font-size: 0.75rem;

  /*========== Font Weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z-index: ==========*/
  --z-fixed: 100;
}

/*========== BASE ==========*/
* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  /* list-style-type: none; */
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  margin: var(--header-height) 0 0 0;
  padding: 1rem 1rem 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}
.header-logo {
  color: var(--first-color);
  font-size: var(--largest-font-size);
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

/*============================== HEADER ==============================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: var(--container-color); */
  background-color: var(--container-color-dark-mode);
  box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
  padding: 0 1rem;
  z-index: var(--z-fixed);
}

.header-container {
  display: flex;
  align-items: center;
  height: var(--header-height);
  justify-content: space-between;
}

.header-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.header-logo {
  /* color: var(--title-color); */
  color: var(--title-color-dark-mode);
  font-weight: var(--font-medium);
  display: none;
}
.header-logo:hover {
  color: var(--bgs-color-text2-bright);
  transition: 0.3s;
}
.header-search {
  display: flex;
  padding: 0.4rem 0.75rem;
  background-color: var(--first-color-light);
  border-radius: 0.25rem;
}

.header-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--first-color-light);
}
.header-input::placeholder {
  font-family: var(--body-font);
  color: var(--text-color);
}

.header-icon,
.header-toggle {
  font-size: 1.2rem;
}

.header-toggle {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

/*============================== NAV ==============================*/



/*=================== TOP OF NAVBAR ==============*/

/* Font Size for bgs icon*/
.nav-bgs {
  font-size: 2rem !important; /* 2rem is max size for icon without adjusting collapsed nav*/
  /* Font Size for all nav elements */
}
.nav-icon {
  font-size: 1.5rem;
}
.nav-link {
  display: flex;
  align-items: center;
  color: var(--text-color);
}
.nav-link:hover {
  color: var(--bgs-color-text2-bright) !important;
  transition: 0.3s;
}
.nav-logo {
  font-weight: var(--font-semi-bold);
  margin-bottom: 1.5rem;
  white-space: nowrap;
  color: rgba(
    255,
    255,
    255,
    0.878
  ) !important; /* Overwrites existing color css for this element*/
  /* border-bottom: solid rgba(255, 255, 255, 0.433) 1px; */
}
/* Text Name next to logo */
.nav-logo-name {
  padding-left: 0.2em;
}
/* ========================== USER PROFILE NAV SECTION ========================== */
.nav-user-profile {
  white-space: nowrap;
  padding-bottom: 3em;
}
/* Profile Picture for User Account */
.nav-user-profile img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
/* Name for User account */
.nav-user-profile-heading {
  text-align: center;
  padding-top: 0.5em;
  font-size: 1.2em;
  font-weight: 800;
  color: white;
  /* border-bottom: solid rgba(255, 255, 255, 0.344) 1px; */
}
/* Role/Group for User Account */
.nav-user-profile-subheading {
  text-align: center;
  padding-top: none;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.639);
}
/*=============== Nav Below User Profile Section ==================*/
.nav-list,
.nav-items {
  display: grid;
}
.nav-list {
  row-gap: 2.5rem;
}

.nav-items {
  row-gap: 1.5rem;
}

.nav-subtitle {
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--text-color-light);
  /* text-align: left; */
}

.nav-name {
  /* font-size: var(--small-font-size); */
  font-size: var(--large-font-size);
  font-weight: var(--font-medium);
  padding-left: 0.5em;
  white-space: nowrap;
}
.nav-logo-name {
  white-space: nowrap;
}

/*================== NAV DROPDOWN ====================*/
/* Dropdown */
.nav-dropdown {
  overflow: hidden;
  max-height: 21px;
  transition: 0.4s ease-in-out;
}

.nav-dropdown-collapse {
  background-color: var(--first-color-light);
  border-radius: 0.25em;
  margin-top: 1rem;
}

.nav-dropdown-content {
  display: grid;
  row-gap: 0.5rem;
  padding: 0.75rem 2.5rem 0.75rem 1.8rem;
}

.nav-dropdown-item {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.nav-dropdown-item:hover {
  /* color: var(--first-color); */
  color: var(--bgs-color-text2);
  transition: 0.3s;
}

.nav-dropdown-icon {
  margin-left: auto;
  transition: 0.4s;
}
/* Show Collapse */
.nav-dropdown:hover {
  max-height: 100rem;
}

/* Rotate Icon Arrow */

.nav-dropdown:hover .nav-dropdown-icon {
  transform: rotate(180deg);
}
/*========== Show Menu ==========*/
.show-menu {
  left: 0;
}
/*========== Active Link ==========*/
.active {
  /* color: var(--first-color); */
  color: var(--bgs-color-text2-bright);
}

/*================== NAV LOGOUT ====================*/
.nav-logout {
  margin-top: 5rem;
}

/*============================== MEDIA QUERIES ==============================*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
/* Reduce search size for small devices */
@media screen and (max-width: 320px) {
  .header-search {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  body {
    padding: 1rem 3rem 0 6rem;
  }
  .header {
    padding: 0 3rem 0 6rem;
  }
  .header-container {
    height: calc(var(--header-height) + 0.5rem);
  }
  .header-search {
    width: 300px;
    padding: 0.55rem 0.75rem;
  }
  .header-toggle {
    display: none;
  }
  .header-logo {
    display: block;
  }
  .header-img {
    width: 40px;
    height: 40px;
    order: 1;
  }
  .header-img-sidebar {
    width: 40px;
    height: 40px;
  }
  .nav {
    left: 0;
    padding: 1.2rem 1.5rem 3rem;
    /* nav width */
    width: 76px;
  }
  .nav-items {
    row-gap: 1.7rem;
  }

  .nav-logo-name,
  .nav-name,
  .nav-subtitle,
  .nav-dropdown-icon,
  .nav-user-profile {
    opacity: 0;
    transition: 0.3s;
  }

  .nav:hover {
    width: var(--nav-width);
  }

  .nav:hover .nav-logo-name {
    opacity: 1;
  }
  .nav:hover .nav-subtitle {
    opacity: 1;
  }
  .nav:hover .nav-name {
    opacity: 1;
  }
  .nav:hover .nav-dropdown-icon {
    opacity: 1;
  }
  .nav:hover .nav-user-profile {
    opacity: 1;
  }
  .qs-container {
    padding-left: 5em;
    /* padding-top: 5em; */
  }
}
/*============================= MAIN CONTENT ============================== */
.main-content {
  padding-top: 2em;
  padding-left: 1.2em;

}

.cards-chart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
  justify-items: center;
  align-items: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}
.card-single {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 2rem;
  border-radius: 2px; /* Sharp Corners, Sleek*/
  /* border-radius: 25px; --rounded corners */
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}

.card-single div:last-child span {
  color: var(--bgs-color-text2);
  font-size: 3rem;
}
/*  RECENT GRID */
.recent-grid {
  margin-top: 3.5rem;
  display: grid;
  grid-gap: 2rem;
  /* grid-template-columns: 65% auto; */
  padding-bottom: 2em;
  grid-template-columns: 100%;
}
/* recent grid cards */
.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}

.card-header {
  padding: 1rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}
.card-header button {
  background: var(--bgs-color-text2-bright);
  border-radius: 10px;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--main-color);
  transition: 0.2s;
}
.card-header:hover button {
  transform: scale(1.1);
}
table {
  border-collapse: collapse;
}
thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
}
thead td {
  font-weight: 700;
}
td {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #222;
}

td .status {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 1rem;
}
tr td:last-child {
  display: flex;
  align-items: center;
}
.status.purple {
  background: rebeccapurple;
}
.status.status.pink {
  background: deeppink;
}
.status.orange {
  background: rgb(255, 147, 15);
}
.status.green {
  background: rgb(0, 155, 49);
}
.status.red {
  background: rgb(255, 0, 0);
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}
.customer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.7rem;
}

.info {
  display: flex;
  align-items: center;
}
.info img {
  border-radius: 50%;
  margin-right: 1rem;
}
.info h4 {
  font-size: 0.8rem;
  font-weight: 700;
  color: #222;
}
.info small {
  font-weight: 600;
  color: var(--text-grey);
}
.contact span {
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 0.5rem;
  color: var(--bgs-color-text2);
}

@media only screen and (max-width: 960px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  /* .recent-grid {
    grid-template-columns: 60% 40%;
  } */
}
/* @media only screen and (max-width: 820px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .recent-grid {
    grid-template-columns: 100%;
  }
} */
@media only screen and (max-width: 768px) {
  .cards {
    grid-template-columns: 100%;
  }
  .recent-grid {
    grid-template-columns: 100%;
  }
  .search-wrapper {
    display: none;
  }
  .sidebar {
    left: -100% !important;
  }
  .cards-chart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
    justify-items: center;
    align-items: center;
  }
}

@media screen and (max-width: 650px) {
  .cards-chart {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
    justify-items: center;
    align-items: center;
  }
}

/*============== Sign in Page CSS ===============*

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #00b1d5;
  border-color: #00b1d5;
}

.btn {
  width: 150px;
  background-color: #00b1d5;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #0e2554;
}
.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: '';
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #00b1d5 0%, #04befe 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}

.qs-container {
  min-height: 100vh;
  padding-left: 5em;
  padding-top: 5em;
  /* padding-left: 1.2em; */
  min-height: 100vh;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* background: rgba(51,51,51,0.7); */
  /* z-index: 10; */
}
